<footer class="footer">
    <div class="container">
        <div class="row">


            <div class="column">
                <ul>
                    <li><a href="https://www.10hookupsites.co.uk/top/sex-dating.html">Finding the best sites for sex-only dating.</a></li>


                    <li><a href="https://www.10hookupsites.co.uk/revue/40pluslove.html">40 Plus Love</a></li>


                    <li><a href="https://www.10hookupsites.co.uk/revue/adultcrush.html">Adult Crush</a></li>


                    <li><a href="https://www.10hookupsites.co.uk/revue/cdate.html">C-date</a></li>


                    <li><a href="https://www.10hookupsites.co.uk/revue/flirt.html">Flirt.com</a></li>


                    <li><a href="https://www.10hookupsites.co.uk/revue/freehookupsearch.html">Free Hook Up Search</a></li>


                    <li><a href="https://www.10hookupsites.co.uk/revue/all-reviews.html">All the reviews</a></li>
                </ul>
            </div>


            <div class="column">
                <ul>
                    <li>10hookupsites.co.uk</li>


                    <li><a href="https://www.10hookupsites.co.uk/become-an-affiliate.html">Become an affiliate</a></li>


                    <li><a href="https://www.10hookupsites.co.uk/advertise-on-this-site.html">Advertise on this site</a></li>


                    <li><a href="https://www.10hookupsites.co.uk/privacy-policy.html">Privacy policy</a></li>


                    <li><a href="https://www.10hookupsites.co.uk/general-terms-conditions-use.html">Terms En</a></li>


                </ul>
            </div>
        </div>
    </div>
</footer>