<footer class="footer">
    <div class="container">
        <div class="row">


            <div class="column">
                <ul>
                    <li><a href="../index.html">Finding the best sites for sex-only dating.</a></li>


                    <li><a href="../revue/40pluslove.html">40 Plus Love</a></li>


                    <li><a href="../revue/adultcrush.html">Adult Crush</a></li>


                    <li><a href="../revue/cdate.html">C-date</a></li>


                    <li><a href="../revue/flirt.html">Flirt.com</a></li>


                    <li><a href="../revue/freehookupsearch.html">Free Hook Up Search</a></li>


                    <li><a href="../revue/all-reviews.html">All the reviews</a></li>
                </ul>
            </div>


            <div class="column">
                <ul>
                    <li>10hookupsites.co.uk</li>


                    <li><a href="/affiliate">Become an affiliate</a></li>


                    <li><a href="/advertising">Advertise on this site</a></li>


                    <li><a href="/privacy">Privacy policy</a></li>


                    <li><a href="/terms">Terms En</a></li>


                </ul>
            </div>
        </div>
    </div>
</footer>