<header>
    <div class="container">
        <a href="/" class="logo_box">
            <img alt="Logo 10hookupsites.co.uk" class="logo_img" width="221px" height="76px" src="../assets/images/logo.png"></a>
        <div class="wrapper">
            <nav class="site-nav">
                <div class="menu-toggle">
                    <div class="hamburger"></div>
                </div>
                <ul class="open desktop">
                    <li><a href="../rating.html">Sex dating</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>